<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>Controlador.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarUsuario</servlet-name>
        <servlet-class>Controlador.ServletEliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarUsuario</servlet-name>
        <servlet-class>Controlador.ServletActualizarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTablaUsuario</servlet-name>
        <servlet-class>Controlador.ServletTablaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProceso</servlet-name>
        <servlet-class>Controlador.ServletProceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletActualizarProceso</servlet-name>
        <servlet-class>Controlador.ServletActualizarProceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletEliminarProceso</servlet-name>
        <servlet-class>Controlador.ServletEliminarProceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTablaProcesos</servlet-name>
        <servlet-class>Controlador.ServletTablaProcesos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Controlador.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarUsuario</servlet-name>
        <url-pattern>/ServletEliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarUsuario</servlet-name>
        <url-pattern>/ServletActualizarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTablaUsuario</servlet-name>
        <url-pattern>/ServletTablaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProceso</servlet-name>
        <url-pattern>/ServletProceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletActualizarProceso</servlet-name>
        <url-pattern>/ServletActualizarProceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletEliminarProceso</servlet-name>
        <url-pattern>/ServletEliminarProceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTablaProcesos</servlet-name>
        <url-pattern>/ServletTablaProcesos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
